@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

/*

MEDIA QUERY BREAKPOINTS px to em

0 - 600px:      PHONE
600 - 900px:    TABLET POTRAIT
900 - 1200px:   TABLET LANDSCAPE
1200 - 1800px:  NORMAL CURRENT DESKTOP SCREEN
1800 - inf:     BIG DESKTOP

*/


@mixin respond ($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };
    }
    @if $breakpoint == big-desk {
        @media (min-width: 112.5em) { @content };
    }
}

