//COLORS

$color-primary-l:#ff8c00d0;
$color-primary-d:#ff0000d0;

$color-primary-light:#ff8c00f0;
$color-primary-dark:#ff0000f0;

$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #2998fff0;
$color-tertiary-dark: #5643faf0;

$color-primary-white:#ffffff;
$color-primary-black:#000000;

$color-primary-gray:#777;
$color-primary-gray-light:rgb(175, 175, 175);
$color-gray-light-1: #f7f7f7;

//GRID

$grid-width: 115rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;