//COLORS

$color-primary-light:#ff8c00d0;
$color-primary-dark:#ff0000d0;
$color-primary-gray:#777;
$color-primary-white:#ffffff;

//GRID

$grid-width: 115rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 5rem;