//COLORS

$color-primary-light:#ff8c00d0;
$color-primary-dark:#ff0000d0;
$color-primary-gray:#777;
$color-primary-white:#ffffff;
$color-primary-black:#000000;
$color-gray-light-1: #f7f7f7;

//GRID

$grid-width: 115rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;