@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layouts/header";

@import "pages/home";

@media only screen and (max-width: 1050px) {
    .header{
        height: 80vh;
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

        &__logo{
            height: 5vw;
    
            &-box{
                position: absolute;
                top: 3%;
                left: 3%;
            }
        }
    }

    .heading-primary{
        
        &--main{
            font-size: 7.5vw;
            font-weight: 500;
            letter-spacing: 2.5vw;
            margin-left: 1.5%;
        }

        &--sub{
            letter-spacing: 0.8vw;
        }
    }

    .heading-secondary{
        font-size: 3rem;
    }
  }

@media only screen and (max-width: 750px) {
    body{
        padding: 2%;
    }

    .header{
        height: 80vh;
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

        &__logo{
            height: 8vw;
    
            &-box{
                position: absolute;
                top: 3%;
                left: 4%;
            }
        }
    }

    .heading-primary{
        margin-bottom: 30%;

        &--main{
            font-size: 10vw;
            font-weight: 500;
            letter-spacing: 4.5vw;
            margin-left: 3%;
        }
        
        &--sub{
            font-size: 3.5vw;
            letter-spacing: 0.85vw;
        }
    }

    .heading-secondary{
        font-size: 2rem;
    }
  }
