@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  75% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  75% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #777;
  padding: 1%;
  box-sizing: border-box; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20%; }
  .heading-primary--main {
    display: block;
    font-size: 6vw;
    font-weight: 500;
    letter-spacing: 2vw;
    animation-name: moveinleft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    margin-left: 2%; }
    .heading-primary--main:hover {
      transform: translateY(-10px);
      transition-duration: 0.75s; }
  .heading-primary--sub {
    display: block;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 0.4vw;
    animation-name: moveinright;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, #ff0000d0, #ff8c00d0), url(images/bgmain.jpg);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition-duration: 0.5s; }
  .heading-secondary:hover {
    transform: translateY(-10px);
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

.heading-features {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.2rem;
  transition-duration: 0.5s; }
  .heading-features:hover {
    transform: translateY(-10px);
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn:link, .btn:visited {
  font-size: 1.75rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.25rem 7.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s; }

.btn--white {
  background-color: #ffffff;
  color: #323232; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45); }

.btn-text:link, .btn-text:visited {
  font-size: 2rem;
  color: #ff0000f0;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 2.5rem 0.5rem 1rem; }

.btn-text:hover {
  background-image: linear-gradient(to right, #ff0000d0, #ff8c00d0);
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
  border-bottom: 0;
  transition-duration: 0.25s; }

.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45); }

.btn__tours {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5rem; }
  .btn__tours--red {
    background-image: linear-gradient(to right, #ff0000d0, #ff8c00d0);
    color: #ffffff; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    border-radius: 2.5px;
    position: absolute;
    outline-offset: 0.5rem;
    transition-duration: 0.25s; }
    .composition__photo--p1 {
      left: 0%;
      top: 0rem; }
    .composition__photo--p2 {
      right: 0%;
      top: 4rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.4rem solid #ff8c00f0;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      transform: translateY(-3px); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 3rem;
  text-align: center;
  border-radius: 2.5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition-duration: 0.25s;
  outline-offset: 0.25rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
  .feature-box__icon {
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #ff0000d0, #ff8c00d0), url(images/bgmain.jpg);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    margin: 0;
    margin-top: 2.5rem;
    font-size: 1.5rem; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.025);
    outline: 0.3rem solid #ff0000f0;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .feature-box:hover .feature-box:not(:hover) {
    transform: scale(0.9); }

.card {
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: #ffffff;
    transition-duration: 0.75s;
    position: absolute;
    height: 50rem;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right, #ff8c00d0, #ff0000d0); }
      .card__side--back-2 {
        background-image: linear-gradient(to right, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right, #2998fff0, #5643faf0); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right, #ff8c00f0, #ff0000f0), url(../../images/tours1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right, #7ed56f, #28b485), url(../../images/tours2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right, #2998fff0, #5643faf0), url(../../images/tours3.jpg); }
  .card__heading {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 15rem;
    right: 1.5rem;
    width: 75%; }
  .card__heading-span {
    padding: 0.75rem 3rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #ff8c00f0, #ff0000f0); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, #2998fff0, #5643faf0); }
  .card__details ul {
    list-style: none;
    width: 60%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:first-child {
        padding-top: 2.5rem; }
      .card__details ul li:last-child {
        margin-bottom: 2.5rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #afafaf; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    color: #ffffff; }
  .card__price-only {
    position: absolute;
    bottom: 95%;
    left: 20%;
    font-size: 2rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 5rem;
    font-weight: 100; }
  .card__btn {
    margin-top: 10rem;
    font-size: 1.75rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, #ff0000d0, #ff8c00d0), url(images/bgmain.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3%;
    left: 2%; }
  .header__logo {
    height: 4vw; }
    .header__logo:hover {
      transform: scale(1.05);
      transition-duration: 0.5s; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 115rem;
  color: #323232;
  margin: 0 auto; }
  .row:first-child {
    margin-top: 6rem; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }

.section-about {
  background-color: #f7f7f7;
  padding: 17.5rem 0;
  margin-top: -10vh; }

.section-features {
  padding: 20rem 0;
  padding-bottom: 25rem;
  margin-top: -10vh;
  background-image: linear-gradient(to right, #ff0000d0, #ff8c00d0), url(images/bgmain.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); }

.section-tours {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -12.5vh; }

@media only screen and (max-width: 1050px) {
  .header {
    height: 80vh;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%); }
    .header__logo {
      height: 5vw; }
      .header__logo-box {
        position: absolute;
        top: 3%;
        left: 3%; }
  .heading-primary--main {
    font-size: 7.5vw;
    font-weight: 500;
    letter-spacing: 2.5vw;
    margin-left: 1.5%; }
  .heading-primary--sub {
    letter-spacing: 0.8vw; }
  .heading-secondary {
    font-size: 3rem; } }

@media only screen and (max-width: 750px) {
  body {
    padding: 2%; }
  .header {
    height: 80vh;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%); }
    .header__logo {
      height: 8vw; }
      .header__logo-box {
        position: absolute;
        top: 3%;
        left: 4%; }
  .heading-primary {
    margin-bottom: 30%; }
    .heading-primary--main {
      font-size: 10vw;
      font-weight: 500;
      letter-spacing: 4.5vw;
      margin-left: 3%; }
    .heading-primary--sub {
      font-size: 3.5vw;
      letter-spacing: 0.85vw; }
  .heading-secondary {
    font-size: 2rem; }
  .col-1-of-2 {
    all: none; } }
