.btn{
    &:link, &:visited {
        font-size: 1.75rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.25rem 7.5rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
    }
    
    &--white{
        background-color: $color-primary-white;
        color: rgb(50, 50, 50);
    }
    
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.35);
    }
    
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.45);
    }
    
}

.btn-text{
    &:link, &:visited{
        font-size: 2rem;
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        padding: 0.5rem 2.5rem 0.5rem 1rem;
    }

    &:hover{
        background-image:linear-gradient(to right, $color-primary-d, $color-primary-l);
        color: $color-primary-white;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.35);
        border-bottom: 0;
        transition-duration: 0.25s;
    }

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.45);
    }
}

.btn__tours{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5rem;

    &--red{
        background-image:linear-gradient(to right, $color-primary-d, $color-primary-l);
        color: $color-primary-white;
    }
}