.btn{
    &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 2% 10%;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
    }
    
    &--white{
        background-color: $color-primary-white;
        color: rgb(50, 50, 50);
    }
    
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.35);
    }
    
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.45);
    }
    
}