.form {
    &__group:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    &__input {
        font-size: 1.9rem;
        color: inherit ;
        padding: 1.1rem 2.2rem;
        border-radius: 2px;
        font-family: inherit;
        background-color: rgba($color-primary-white , 0.75);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all 0.3s;
        
        &:focus {
            outline: none;
            box-shadow: 0 2rem 2rem rgba($color-primary-black, 0.1);
            border-bottom: 5px solid #6fe66f;
        }

        &:focus:invalid {
            border-bottom: 3px solid #FF6961;
        }
        
        &::-webkit-input-placeholder {
            color: $color-secondary-gray;
        }
    }

    &__label {
        font-size: 1.7rem;
        margin-left: 2.25rem;
        margin-top: 0.5rem;
        display: block;
        transition: all 0.25s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        padding-left: 2rem;
    }

    &__radio-group {
        width: 150%;
    }

    &__radio-label {
        font-size: 1.9rem;
        cursor: pointer;
        padding-left: 4rem;
    }

    &__radio-input {
        display: none;
        padding-left: 4rem;
    }

    &__radio-button {
        height: 2.5rem;
        width: 2.5rem;
        border: 5px solid $color-primary-dark;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: -85%;
        top: 0.5rem;

        &::after {
            content: "";
            display: inline-block;
            height: 1.25rem;
            width: 1.25rem;
            border-radius: 50%;
            position: absolute;
            top: 10%;
            left: 10%;
            background-color: $color-primary-dark;
            opacity: 0;
            transition: opacity 0.25s;
        }
    }

    &__radio-input:checked ~ &__radio-button::after {
        opacity:1;
    }

    &__btn {
        margin-top: 7.5%;

        &:link, &:visited {
            font-size: 1.75rem;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s;
        }
        
        &--white{
            padding: 1rem 7rem;
            border-radius: 5rem;
            background-color: $color-primary-white;
            color: rgb(50, 50, 50);
        }
        
        &:hover{
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0,0,0,0.35);
        }
        
        &:active{
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.45);
        }
        
        &__tours{
            position: absolute;
            left: 50%;
            transform: translate(-50%,-50%);
            margin-top: 5rem;
        
            &--red{
                padding: 1.25rem 7.5rem;
                border-radius: 2rem;
                background-image:linear-gradient(to right, $color-primary-d, $color-primary-l);
                color: $color-primary-white;
            }
        }
    }
}