@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&family=Rubik&family=Sansita+Swashed:wght@500&family=Satisfy&display=swap');

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
}

.heading-primary{
    font-family: 'Rubik', sans-serif;
    color: $color-primary-white;
    text-transform: uppercase;
    margin-bottom: 25%;

    &--main{
        display: block;
        font-size: 6vw;
        font-weight: 100;
        letter-spacing: 2.25vw;
        margin-left: 2.5%;
        animation-name: moveinleft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;

        &:hover{
            transform: translateY(-10px);
            transition-duration: 0.75s;
        }
    }

    &--sub{
        display: block;
        font-size: 2vw;
        font-weight: 300;
        letter-spacing: 0.5vw;
        animation-name: moveinright;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
    }
}

.heading-secondary{
    font-family: 'Rubik', sans-serif;
    font-size: 4.25rem;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-d, $color-primary-l), url(images/bgmain.jpg);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.3rem;
    transition-duration: 0.5s;

    &:hover{
        transform: translateY(-10px);
        text-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    }
}

.heading-tertiary{
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.75rem;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.1rem;
}

.heading-features{
    font-family: 'Rubik', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-size: 4.25rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    color: $color-primary-white;
    transition-duration: 0.5s;

    &:hover{
        transform: translateY(-10px);
        text-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    }
}
