body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
}

.heading-primary{
    color: $color-primary-white;
    text-transform: uppercase;
    margin-bottom: 20%;

    &--main{
        display: block;
        font-size: 6vw;
        font-weight: 500;
        letter-spacing: 2vw;
        animation-name: moveinleft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
        margin-left: 2%;

        &:hover{
            transform: translateY(-10px);
            transition-duration: 0.75s;
        }
    }

    &--sub{
        display: block;
        font-size: 2vw;
        font-weight: 500;
        letter-spacing: 0.4vw;
        animation-name: moveinright;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light), url(images/bgmain.jpg);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition-duration: 0.5s;

    &:hover{
        transform: translateY(-10px);
        text-shadow: 0 1rem 2rem rgba(0,0,0,0.25);
    }
}