.section-about{
    background-color: $color-gray-light-1;
    padding: 17.5rem 0;
    margin-top: -10vh;
}

.section-features{
    padding: 20rem 0;
    padding-bottom: 25rem;
    margin-top: -10vh;
    background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light), url(images/bgmain.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}